<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head th:replace="~{partials/head(title='Home')}"></head>
    <body>
        <header th:replace="~{partials/header}"></header>
        <main>
            <div sec:authorize="isAuthenticated()">
                <p>
                    <a th:href="@{/newHelmet}">Create new listing</a>
                </p>
            </div>
            <div>
                <table>
                    <tbody class="helmet-table">
                        <tr th:each="helmet: ${h}" th:object="${helmet}" class="helmet-all" >
                            <td>Manufacturer: <span th:text="*{manufacturer}"></span></td>
                            <td>Model: <span th:text="*{model}"></span></td>
                            <td>Size: <span th:text="*{size}"></span></td>
                            <td>Type: <span th:text="*{type}"></span></td>
                            <td>Status: <span th:text="*{status}"></span> </td>
                            <td>Color: <span th:text="*{color}"></span></td>
                            <td>Item description: <span th:text="*{itemDescription}"></span></td>
                            <td>Price: <span th:text="*{price}"></span> $</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </main>
    </body>
</html>