<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head th:replace="~{partials/head(title='Home')}"></head>
    <body>
        <header th:replace="~{partials/header}"></header>
        <main>
            <div sec:authorize="isAuthenticated()">
                <div>
                    <form th:action="@{/newHelmet}" method="get" >
                        <button th:text="#{home.listing}">
                        </button>
                    </form>
                </div>
                <div>
                    <form th:action="@{/main/delete}" method="post">
                        <button th:text="#{home.deleteAll}"></button>
                    </form>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(h)}">
                <table>
                    <tbody class="helmet-table">
                        <tr th:each="helmet: ${h}" th:object="${helmet}"
                            class="helmet-all" th:id=" 'buy_' + ${helmet.id}"
                        >
                            <td>Manufacturer: <span th:text="*{manufacturer}"></span></td>
                            <td>Model: <span th:text="*{model}"></span></td>
                            <td>Size: <span th:text="*{size}"></span></td>
                            <td>Type: <span th:text="*{type}"></span></td>
                            <td>Status: <span th:text="*{status}"></span> </td>
                            <td>Color: <span th:text="*{color}"></span></td>
                            <td>Item description: <span th:text="*{itemDescription}"></span></td>
                            <td>Price: <span th:text="*{price}"></span> $</td>
                            <td class="listing-actions">
                                <div>
                                    <form th:action="@{/cart}" method="post">
                                        <button th:text="#{home.cart}"></button>
                                    </form>
                                </div>
                                <div>
                                    <form>
                                        <button class="x-delete">X</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${#lists.isEmpty(h)}">
                <div class="sold-out">
                    <h1 th:text="#{home.soldOut}"></h1>
                </div>
            </div>
        </main>
    <footer th:replace="~{partials/footer}"></footer>
    </body>
</html>