<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head th:replace="~{partials/head(title='New listing')}"></head>
    <body>
        <header th:replace="~{partials/header}"></header>
        <main>
            <div class="new-listing-form">
                <form th:action="@{/newHelmet}" method="post" th:object="${helmet}">
                    <div class="image-login"><img src="/pictures/new.jpg" class="img-login"></div>
                    <h2>Add new listing</h2>
                    <div th:if="${param.error}">
                        <div style="color: red">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</div>
                    </div>
                    <div>
                        <div class="span-input-new">
                            <span class="span-new"><input class="input-center-new" type="text" placeholder="Manufacturer" name="manufacturer"></span>
                            <span class="span-new"><input class="input-center-new" type="text" placeholder="Model" name="model"></span>
                            <span class="span-new"><select name="size">
                                <option value="" disabled selected hidden>Size</option>
                                <option value="XS">XS</option>
                                <option value="S">S</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="3XL">3XL</option>
                            </select></span>
                            <span class="span-new"><select name="type">
                                <option value="" disabled hidden selected>Type</option>
                                <option value="motorcycle">motorcycle</option>
                                <option value="bicycle">bicycle</option>
                                <option value="ski">ski</option>
                                <option value="children">children</option>
                                <option value="skater">skater</option>
                                <option value="rafting">rafting</option>
                                <option value="climber">climber</option>
                                <option value="hockey">hockey</option>
                                <option value="equestrian">equestrian</option>
                                <option value="football">football</option>
                                <option value="racing">racing</option>
                                <option value="safety">safety</option>
                                <option value="war">war</option>
                            </select></span>
                            <span class="span-new"><input class="input-center-new" type="text" placeholder="Status" required name="status"></span>
                            <span class="span-new"><input class="input-center-new" type="text" placeholder="Color" required name="color"></span>
                            <span class="span-new"><input class="input-center-new" type="text" placeholder="Description" name="itemDescription"></span>
                            <span class="span-new"><input class="input-center-new" type="text" placeholder="Price" required name="price"></span>
                            <span class="span-new"><input type="submit" value="Create"></span>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </body>
</html>