<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
>
    <head data-th-replace="~{partials/head(title='Helmet shop')}"></head>
    <body>
    <header th:replace="~{partials/header}"></header>
    <main>
        <table>
            <tr th:each="user: ${users}" th:object="${user}">
                <td th:text="*{username}"></td>
            </tr>
        </table>
        <div></div>
    </main>
    </body>
</html>